.favsheading{
    text-align: center;
    color: white;
}

.favstext{
    text-align: justify;
    margin-top: 20px;
    
}

.favsfooter{
    margin-top: 30px;
    margin-right: 15px;
    text-align: right;
    font-size: 20px;
    font-style: italic;
}

.teamname {
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
    background-color : #37AE47;
    border-radius: 999px;
    border: 2px solid #37AE47;
  }
  .favscroll {
    height: 375px;
    overflow: auto;
    border-radius: 10px;
  }


  .teamname:hover{
    background-color : #37AE47;
    color: #eee;
    border: 3px solid #eee;
  }
  
  .teamname:active {
    background-color : #e9e9e9;
    color: #37AE47;
    border: 2px solid #eee;
  }
  @media (max-width: 550px) {
    .blank {
        height:40px;
    }
    .favscroll {
      height: 375px;
      overflow: auto;
      border-radius: 10px;
    }
     #eeesearchbar {
        width: 100%;
        border: 2px solid #eee;
        border-radius: 999px;
        height: 60px;
        margin-top: 20px;
    }   
    input {
        color: #eee;
        background-color:black;
        font-family: inherit;
        border: none;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
    }

}